<div class="row content">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="text-danger">Error</h1>
    <div class="panel panel-danger">
      <div class="panel-body">
        <p><%= @error_notice %></p>
        <p>フォームに戻り、再度入力を行ってください。</p>
      </div>
    </div>
    <a href="#" onClick="history.back(); return false;" class="btn btn-default">戻る</a>
  </div>
  <div class="col-md-2"></div>
</div>
