<div class="row content">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>Thank you!</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <p>ご協力ありがとうございます。</p>
        <p>提供していただいた情報は、運営による精査の後に当サイトに反映されます。</p>
      </div>
    </div>
    <a href="/" class="btn btn-default">トップページへ</a>
  </div>
  <div class="col-md-2"></div>
</div>
