<!-- .content: content(main column + sidebar) -->
<div class="row content">
	<!-- .main: main column -->
	<div class="col-md-8 main entry-table">
    <% @categories.each do |c| %>
  		<div class="panel panel-primary panel-category" id="<% c.url %>">
  			<!-- .panel-heading -->
  			<div class="panel-heading">
  				<div class="panel-category-heading clearfix">
  					<h3 class="panel-title"><%= c.name %></h3>
  				</div>
  			</div>
  			<!-- /.panel-heading -->
  			<div class="panel-body">
  				<p><%= c.description %></p>
  				<ul>
            <% c.get_entries.each do |e| %>
    					<li><a href="<%= e.href %>"><%= e.title %></a></li>
  					<% end %>
  				</ul>
  			</div>
  		</div>
    <% end %>
	</div>
	<!-- /.main -->

	<!-- .sidebar: sidebar column -->
	<aside class="col-md-4 hidden-sm hidden-xs sidebar">

		<!-- .newlist: 新着情報 -->
		<div class="panel panel-default newlist">
			<div class="panel-heading">
				<h3 class="panel-title">特集一覧</h3>
			</div>
			<div class="list-group">
				<a href="#" class="list-group-item">
					<dl>
						<dt><span class="label label-warning">特集</span> 2014-01-01</dt>
						<dd>【超入門】GitHubを使ってみよう！</dd>
					</dl>
				</a>
				<a href="#" class="list-group-item">
					<dl>
						<dt><span class="label label-warning">特集</span> 2014-01-01</dt>
						<dd>Ruby on Railsを使ってみよう</dd>
					</dl>
				</a>
				<a href="#" class="list-group-item">
					<dl>
						<dt><span class="label label-warning">特集</span> 2014-01-01</dt>
						<dd>Ruby on Railsを使ってみよう</dd>
					</dl>
				</a>
				<a href="#" class="list-group-item">
					<span class="text-right">過去の記事一覧へ</span>
				</a>
			</div>
		</div>

		<div class="panel panel-default contest-index">
			<div class="panel-heading">
				<h3 class="panel-title">カテゴリ一覧</h3>
			</div>
			<div class="list-group">
				<a href="#" class="list-group-item">
					入門編
				</a>
				<a href="#" class="list-group-item">
					中級者編
				</a>
				<a href="#" class="list-group-item">
					上級者編
				</a>
				<a href="#" class="list-group-item">
					Web技術
				</a>
				<a href="#" class="list-group-item">
					C++
				</a>
			</div>
		</div>

	</aside>
	<!-- /.sidebar -->

</div>
<!-- /.content -->
