div.container
  div.row
    div.col-md-3 id="menu"
      strong
        i.glyphicon.glyphicon-list
        | Menu
      hr
        ul.list-unstyled
          li
            a href="/console/"
              i.glyphicon.glyphicon-home
              | Home
    div.col-md-9
      p it works
