<div class="row content">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>作品情報を投稿する</h1>
    <p>当サイトにまだない作品情報を投稿することができます。情報共有のご協力をお願いします。</p>
    <p>投稿を行うと、運営による精査の後に当サイトに反映されます。</p>
    <form action="/report" method="post">
      <h3>作品の情報</h3>
      <div class="form-group">
        <label class="control-label" for="contest">大会 <small class="required">必須</small></label>
        <select class="form-control" id="contest" name="contest">
          <% @contests.each do |contest| %>
            <option value="<%= contest.id %>"><%= "第#{contest.id}回 #{contest.name}" %></option>
          <% end %>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label" for="repository">部門 <small class="required">必須</small></label>
        <select class="form-control" id="section" name="section">
          <option value="competition">競技部門</option>
          <option value="themed">課題部門</option>
          <option value="original">自由部門</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label" for="product">作品名 <small>または</small> 高専名 <small class="required">必須</small></label>
        <input class="form-control" id="product" name="product" type="text">
      </div>
      <hr>
      <h3>リンク先URL</h3>
      <div class="form-group">
        <label class="control-label" for="repository">リポジトリ <small>URL</small></label>
        <input class="form-control" id="repository" name="repository" type="url">
      </div>
      <div class="form-group">
        <label class="control-label" for="slide">スライド <small>URL</small></label>
        <input class="form-control" id="slide" name="slide" type="url">
      </div>
      <div class="form-group">
        <label class="control-label" for="site">解説サイト <small>URL</small></label>
        <input class="form-control" id="site" name="site" type="url">
      </div>
      <hr>
      <h3>参加者のSNSアカウント</h3>
      <p class="red">他人のアカウントを入力する場合には、アカウント所有者の許可が必要です。</p>
      <div class="form-group">
        <label class="control-label" for="twitter">Twitter <small>URL</small></label>
        <input class="form-control" id="twitter" name="twitter" type="url">
      </div>
      <div class="form-group">
        <label class="control-label" for="facebook">facebook <small>URL</small></label>
        <input class="form-control" id="facebook" name="facebook" type="url">
      </div>
      <hr>
      <div class="form-group">
        <label class="control-label" for="comment">コメント その他の指摘事項</label>
        <textarea class="form-control" rows="4" id="comment" name="comment"></textarea>
      </div>
      <hr>
      <div class="form-group">
        <label class="control-label" for="email">あなたのメールアドレス <small class="required">必須</small></label>
        <input class="form-control" id="email" name="email" type="email">
      </div>
      <hr>
      <div class="form-group">
        <button type="reset" class="btn btn-default">Reset</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  <div class="col-md-2"></div>
</div>
