@charset "UTF-8";
/*!------------------------------------

Proconist.net - style.css

  Site URL: http://proconist.net/
  File name: style.css (http://proconist.net/style.css)
  Summary: additional styles
  Created: 2014-10-30
  Last update: 2014-11-02 by Ryosuke hagihara
  Author: Proconist.net 運営委員会
  Copyright: &copy; 2014 Proconist.net operators

------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Lato:300");
/* line 3, ../scss/_bootstrap-override.scss */
body {
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

/* line 7, ../scss/_bootstrap-override.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

/* line 11, ../scss/_bootstrap-override.scss */
body {
  background-color: #f5f5f5;
}

/* line 17, ../scss/_bootstrap-override.scss */
.navbar-nav.nav-justified > li {
  float: none;
}

/* line 24, ../scss/_bootstrap-override.scss */
.panel .carousel {
  margin: -15px -15px 15px;
}

/* line 31, ../scss/_bootstrap-override.scss */
.carousel .carousel-control.right, .carousel .carousel-control.left {
  background: none;
}
/* line 35, ../scss/_bootstrap-override.scss */
.carousel .carousel-indicators {
  bottom: 0;
}
/* line 38, ../scss/_bootstrap-override.scss */
.carousel .carousel-caption {
  padding-bottom: 0;
}

/* Sticky footer styles
 * http://getbootstrap.com/examples/sticky-footer/
-------------------------------------------------- */
/* line 47, ../scss/_bootstrap-override.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 51, ../scss/_bootstrap-override.scss */
body {
  margin-bottom: 160px;
}

/* line 54, ../scss/_bootstrap-override.scss */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
}

/* line 25, ../scss/style.scss */
.logo {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  text-decoration: none;
  outline: none;
  letter-spacing: 1px;
  background: none;
  border: none;
}
/* line 32, ../scss/style.scss */
.logo:hover, .logo:active, .logo:focus {
  text-decoration: none;
  outline: none;
  border: none;
  background: none;
}

/* line 40, ../scss/style.scss */
.title {
  margin: 1em auto;
}
/* line 42, ../scss/style.scss */
.title h1 {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 4em;
}
/* line 47, ../scss/style.scss */
.title h1 .logo {
  font-weight: 300;
  color: #507192;
}
/* line 52, ../scss/style.scss */
.title span.description {
  display: inline-block;
  margin-right: 1em;
  font-size: 1.2em;
}

/* line 61, ../scss/style.scss */
.about.jumbotron h2 {
  margin-top: 0;
}
