@charset "UTF-8";
/*!------------------------------------

Proconist.net - style.css

  Site URL: http://proconist.net/
  File name: style.css (http://proconist.net/style.css)
  Summary: additional styles
  Created: 2014-10-30
  Last update: 2014-11-02 by Ryosuke hagihara
  Author: Proconist.net 運営委員会
  Copyright: &copy; 2014 Proconist.net operators

------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Lato:300");
body {
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

body {
  background-color: #f8f9fa;
}

.navbar-nav.nav-justified > li {
  float: none;
}

.panel .carousel {
  margin: -15px;
}

.carousel .carousel-control.right, .carousel .carousel-control.left {
  background: none;
}
.carousel .carousel-indicators {
  bottom: 0;
}
.carousel .carousel-caption {
  padding-bottom: 0;
}

.form-inline .form-group-sm {
  display: inline-block;
}

/* Sticky footer styles
 * http://getbootstrap.com/examples/sticky-footer/
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 160px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
}

.margin-none-top {
  margin-top: 0;
}

.logo {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  text-decoration: none;
  outline: none;
  letter-spacing: 1px;
  background: none;
  border: none;
}
.logo:hover, .logo:active, .logo:focus {
  text-decoration: none;
  outline: none;
  border: none;
  background: none;
}

.title {
  margin: 1em auto;
}
.title h1 {
  float: left;
  margin: 0 0.2em 0 0;
  padding: 0;
  font-size: 3.2em;
}
.title h1 .logo {
  font-weight: 300;
  color: #507192;
}
.title span.description {
  float: left;
  font-size: 1.2em;
  line-height: 3.2em;
  vertical-align: text-bottom;
}
.title .social-button ul {
  float: right;
  margin: 0;
}
.title .social-button ul li {
  float: left;
}
.title .social-button ul li:not(:first-child) {
  margin-left: 5px;
}
.title .social-button iframe {
  margin: 0 !important;
}

.about.jumbotron h2 {
  margin-top: 0;
}

.heading {
  position: relative;
  border-bottom: 2px solid #7b8a8b;
  margin-bottom: 10.5px;
}
.heading h2, .heading h3, .heading h4, .heading h5, .heading h6 {
  margin-top: 0;
  float: left;
}
.heading .meta-info {
  float: right;
  min-height: 35.2px;
}
.heading .meta-info li {
  font-size: 13px;
  text-align: right;
}

.instant-search {
  margin: 10px 0;
  text-align: right;
}

.panel-procon-product .panel-heading .panel-procon-product-rank {
  float: left;
  margin-right: 9px;
}
.panel-procon-product .panel-heading .panel-procon-product-rank .label {
  vertical-align: 2px;
}
.panel-procon-product .panel-heading .panel-procon-product-heading {
  margin-bottom: -10px;
}
.panel-procon-product .panel-heading .panel-title {
  float: left;
  margin-bottom: 10px;
}
.panel-procon-product .panel-heading .label-group {
  float: right;
  margin-bottom: 10px;
}
.panel-procon-product .panel-heading .label-group .label {
  vertical-align: 2px;
  padding: .2em .6em .3em;
  line-height: 14px;
}
.panel-procon-product ul.panel-procon-product-link {
  margin-left: 0;
  border-top: 1px solid #ecf0f1;
  padding: 15px 15px 0;
}
.panel-procon-product ul.panel-procon-product-link li {
  margin-bottom: 10px;
}
.panel-procon-product ul.panel-procon-product-link li a, .panel-procon-product ul.panel-procon-product-link li a:visited, .panel-procon-product ul.panel-procon-product-link li a:hover, .panel-procon-product ul.panel-procon-product-link li a:active, .panel-procon-product ul.panel-procon-product-link li a:focus {
  text-decoration: none;
  color: #2C3E50;
}
.panel-procon-product ul.panel-procon-product-link li .fa-github {
  color: #333;
}
.panel-procon-product ul.panel-procon-product-link li .fa-bitbucket {
  color: #205081;
}
.panel-procon-product ul.panel-procon-product-link li .fa-slideshare {
  color: #07a;
}
.panel-procon-product ul.panel-procon-product-link li .fa-globe {
  color: #00a7a9;
}
.panel-procon-product ul.panel-procon-product-link li .fa-twitter {
  color: #55acee;
}
.panel-procon-product ul.panel-procon-product-link li .fa-facebook-square {
  color: #3b5998;
}

.heading-mark small {
  color: inherit;
}
.heading-mark:before {
  display: inline-block;
  content: "▶";
  font-size: .8em;
  width: 1.25em;
}
.heading-mark.heading-mark-competition:before {
  color: #E74C3C;
}
.heading-mark.heading-mark-themed:before {
  color: #F39C12;
}
.heading-mark.heading-mark-original:before {
  color: #3498DB;
}

.newlist .list-group a.list-group-item dl {
  margin-bottom: 0;
}
.newlist .list-group a.list-group-item dl dt {
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 1px;
}
.newlist .list-group a.list-group-item dl dt .label {
  vertical-align: 2px;
}
.newlist .list-group a.list-group-item dl dd {
  color: #18BC9C;
}

.about .polocy-text {
  margin: 36px auto;
  text-align: center;
  font-size: 19px;
}
.about .actions {
  margin: 10px auto;
  text-align: center;
}
.about .actions .action-bg {
  margin: 0 auto;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.about .actions .action-bg .fa {
  line-height: 150px;
  font-size: 5em;
  color: #fff;
}
.about .actions .action-read {
  background-color: #18BC9C;
}
.about .actions .action-entry {
  background-color: #F39C12;
}
.about .actions .action-share {
  background-color: #E74C3C;
}
.about .actions .action-description {
  margin-top: 15px;
}
.about .actions .action-description span {
  display: inline-block;
}

.member {
  padding: 10px;
}
.member .member-image {
  text-align: center;
  padding-top: 10px;
}
.member .member-image img {
  width: 150px;
  margin: 0 auto;
}
.member .member-name {
  padding-bottom: 6px;
  border-bottom: 1px solid #b4bcc2;
}
.member .member-introduction {
  padding-top: 1px;
}
.member .member-introduction ul.member-sns {
  margin-left: 0;
  padding: 15px 0;
}
.member .member-introduction ul.member-sns li {
  margin-bottom: 10px;
}
.member .member-introduction ul.member-sns li a, .member .member-introduction ul.member-sns li a:visited, .member .member-introduction ul.member-sns li a:hover, .member .member-introduction ul.member-sns li a:active, .member .member-introduction ul.member-sns li a:focus {
  text-decoration: none;
  color: #2C3E50;
}
.member .member-introduction ul.member-sns li .fa-github {
  color: #333;
}
.member .member-introduction ul.member-sns li .fa-bitbucket {
  color: #205081;
}
.member .member-introduction ul.member-sns li .fa-slideshare {
  color: #07a;
}
.member .member-introduction ul.member-sns li .fa-globe {
  color: #00a7a9;
}
.member .member-introduction ul.member-sns li .fa-twitter {
  color: #55acee;
}
.member .member-introduction ul.member-sns li .fa-facebook-square {
  color: #3b5998;
}

.entry-contents .heading {
  position: relative;
  border-bottom: 2px solid #7b8a8b;
  margin-bottom: 10px;
}
.entry-contents .heading h1, .entry-contents .heading h2, .entry-contents .heading h3, .entry-contents .heading h4, .entry-contents .heading h5, .entry-contents .heading h6 {
  margin-top: 0;
  float: left;
}
.entry-contents .heading .meta-info {
  float: right;
  min-height: 42.9px;
}
.entry-contents .heading .meta-info li {
  font-size: 13px;
  text-align: right;
  margin-bottom: 1px;
}
.entry-contents .entry-body .entry-text {
  padding: 15px 0;
}
.entry-contents .entry-body .entry-text h2 {
  border-bottom: 1px solid #7b8a8b;
}
.entry-contents .entry-body .entry-text h2, .entry-contents .entry-body .entry-text h3 {
  margin-bottom: 21px;
}
.entry-contents .entry-body .entry-text .table * {
  border: 1px solid #7b8a8b;
}
.entry-contents .entry-body .entry-text .table thead tr {
  background-color: #ecf0f1;
  border-bottom: 2px solid #7b8a8b;
}
.entry-contents .entry-body .social-button {
  margin-top: 27px;
  margin-bottom: 27px;
}
.entry-contents .entry-body .social-button ul {
  list-style-type: none;
  margin: 0;
}
.entry-contents .entry-body .social-button ul li {
  display: inline-block;
  margin-right: 1px;
  vertical-align: bottom;
  *display: inline;
  zoom: 1;
}
.entry-contents .entry-body .social-button .member .member-image img {
  width: 130px;
  margin: 0 auto;
}
.entry-contents .entry-body .social-button iframe {
  margin: 0 !important;
}

.entry-list .index-link {
  padding-bottom: 10px;
}
.entry-list .entry-contents {
  margin-top: 27px;
  padding-bottom: 27px;
  border-bottom: 1px dotted #7b8a8b;
}
.entry-list .entry-contents .heading h2 {
  font-size: 26px;
  padding-top: 1.42857;
}
.entry-list .entry-contents .heading h2 a {
  text-decoration: none;
  color: #2C3E50;
}
.entry-list .entry-contents .heading h2 a:hover {
  color: #18BC9C;
}
.entry-list .entry-contents .heading .meta-info {
  min-height: 13px;
}
.entry-list .entry-contents .heading .meta-info li {
  display: inline-block;
  font-size: 13px;
  text-align: right;
  margin-bottom: 1px;
}
.entry-list .entry-contents .entry-body .entry-text {
  padding: 0;
}

.pager li a {
  background-color: #2C3E50;
}

footer {
  padding: 20px 0;
  color: #ecf0f1;
  background-color: #222222;
}
