.margin-none-top {
	margin-top: 0;
}

@mixin pull-left {
	float: left;
}

@mixin pull-right {
	float: right;
}

@mixin fontawesome {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

$social-colors: (
	twitter: #55acee,
	facebook: #315096,
	hatena: #008fde,
	google: #dd4b39
);

.fa-hatena {
    &:before {
        content: "B!";
        font-family: Verdana;
        font-weight: bold;
				font-style: normal;
    }
}
