@charset "UTF-8";
/*!------------------------------------

Proconist.net - style.css

  Site URL: http://proconist.net/
  File name: style.css (http://proconist.net/style.css)
  Summary: additional styles
  Created: 2014-10-30
  Last update: 2014-11-02 by Ryosuke hagihara
  Author: Proconist.net 運営委員会
  Copyright: &copy; 2014 Proconist.net operators

------------------------------------*/

@import "compass";
@import "compass/css3";

@import "bootstrap-override";
@import "original-set";

@import url("https://fonts.googleapis.com/css?family=Lato:300");

.logo {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	text-decoration: none;
	outline: none;
	letter-spacing: 1px;
	background: none;
	border: none;
	&:hover, &:active, &:focus {
		text-decoration: none;
		outline: none;
		border: none;
		background: none;
	}
}

.title {
	margin: 1em auto;
	h1 {
		@include pull-left;
		margin: 0 0.2em 0 0;
		padding: 0;
		font-size: 3.2em;
		.logo {
			font-weight: 300;
			color: lighten($text-color, 20%)
		}
	}
	span.description {
		@include pull-left;
		font-size: 1.2em;
		line-height: 3.2em;
		vertical-align: text-bottom;
	}
	.social-button {
		ul {
			@include pull-right;
			margin: 0;
			li {
				@include pull-left;
			}
			li:not(:first-child) {
				margin-left: $padding-xs-horizontal;
			}
		}
		iframe {
			margin: 0 !important;
		}
	}
}

.about {
	&.jumbotron {
		h2 {
			margin-top: 0;
		}
	}
}

.heading {
	position: relative;
	border-bottom: 2px solid $gray-dark;
	margin-bottom: $line-height-computed/2;
	#{headings(2, 6)} {
		margin-top: 0;
		@include pull-left;
	}
	.meta-info {
		@include pull-right;
		min-height: $font-size-h2 * $headings-line-height;
		li {
			font-size: $font-size-small;
			text-align: right;
		}
	}
}

.instant-search {
	margin: $padding-base-vertical 0;
	text-align: right;
}

.panel-procon-product {
	.panel-heading {
		.panel-procon-product-rank {
			@include pull-left;
			margin-right: $padding-small-horizontal;
			.label {
				vertical-align: 2px;
			}
		}
		.panel-procon-product-heading {
			margin-bottom: -$padding-base-vertical;
		}
		.panel-title {
			@include pull-left;
			margin-bottom: $padding-base-vertical;
		}
		.label-group {
			@include pull-right;
			margin-bottom: $padding-base-vertical;
			.label {
				vertical-align: 2px;
				padding: .2em .6em .3em;
				line-height: 14px;
			}
		}
	}
	ul.panel-procon-product-link {
		margin-left: 0;
		border-top: 1px solid $table-border-color;
		padding: $padding-base-horizontal $padding-base-horizontal 0;
		li {
			margin-bottom: 10px;
			a, a:visited, a:hover, a:active, a:focus  {
				text-decoration: none;
				color: $text-color;
			}
			.fa-github {
				color: #333;
			}
			.fa-bitbucket {
				color: #205081;
			}
			.fa-slideshare {
				color: #07a;
			}
			.fa-globe {
				color: #00a7a9;
			}
			.fa-twitter {
				color: #55acee;
			}
			.fa-facebook-square {
				color: #3b5998;
			}
		}
	}
}

.heading-mark {
	small {
		color: $headings-color;
	}
	&:before {
		display: inline-block;
		content: "▶";
		font-size: .8em;
		width: 1.25em;
	}
	&.heading-mark-competition:before {
		color: $brand-danger;
	}
	&.heading-mark-themed:before {
		color: $brand-warning;
	}
	&.heading-mark-original:before {
		color: $brand-info;
	}
}

.newlist {
	.list-group {
		a.list-group-item {
			dl {
				margin-bottom: 0;
				dt {
					font-size: $font-size-small;
					font-weight: normal;
					.label {
						vertical-align: 2px;
					}
					margin-bottom: $padding-xs-vertical;
				}
				dd {
					color: $link-color;
				}
			}
		}
	}
}

.about {
	.polocy-text {
		margin: $padding-large-vertical*2 auto;
		text-align: center;
		font-size: $font-size-large;
	}
	.actions {
		$action-bg-circle-size: 150px;
		margin: $padding-base-vertical auto;
		text-align: center;
		.action-bg {
			margin: 0 auto;
			border-radius: 50%;
			height: $action-bg-circle-size;
			width: $action-bg-circle-size;
			.fa {
				line-height: $action-bg-circle-size;
				font-size: 5em;
				color: #fff;
			}
		}
		.action-read {
			background-color: $brand-success;
		}
		.action-entry {
			background-color: $brand-warning;
		}
		.action-share {
			background-color: $brand-danger;
		}

		.action-description {
			margin-top: $padding-base-horizontal;
			span {
				display: inline-block;
			}
		}
	}
}

.member {
	padding: $padding-base-vertical;
	.member-image {
		text-align: center;
		padding-top: $padding-base-vertical;
		img {
			width: 150px;
			margin: 0 auto;
		}
	}
	.member-name {
		padding-bottom: $padding-small-vertical;
		border-bottom: 1px solid $gray-light;
	}
	.member-introduction {
		padding-top: $padding-xs-vertical;
		ul.member-sns {
			margin-left: 0;
			padding: $padding-base-horizontal 0;
			li {
				margin-bottom: 10px;
				a, a:visited, a:hover, a:active, a:focus  {
					text-decoration: none;
					color: $text-color;
				}
				.fa-github {
					color: #333;
				}
				.fa-bitbucket {
					color: #205081;
				}
				.fa-slideshare {
					color: #07a;
				}
				.fa-globe {
					color: #00a7a9;
				}
				.fa-twitter {
					color: #55acee;
				}
				.fa-facebook-square {
					color: #3b5998;
				}
			}
		}
	}
}

.entry-contents {
	.heading {
		position: relative;
		border-bottom: 2px solid $gray-dark;
		margin-bottom: $line-height-computed/2;
		#{headings(1, 6)} {
			margin-top: 0;
			@include pull-left;
		}
		.meta-info {
			@include pull-right;
			min-height: $font-size-h1 * $headings-line-height;
			li {
				font-size: $font-size-small;
				text-align: right;
				margin-bottom: $padding-xs-vertical;
			}
		}
	}
	.entry-body {
		.entry-text {
			padding: $padding-base-horizontal 0;
			h2 {
				border-bottom: 1px solid $gray-dark;
			}
			h2, h3 {
				margin-bottom: $line-height-computed;
			}
			.table{
				* {
					border: 1px solid $gray-dark;
				}
				thead tr {
					background-color: #ecf0f1;
					border-bottom: 2px solid $gray-dark;
				}
			}
		}
		.social-button {
			margin-top: $padding-large-horizontal;
			margin-bottom: $padding-large-horizontal;
			ul {
				list-style-type:none;
				margin: 0;
				li{
					display:inline-block;
					margin-right: $padding-xs-horizontal/5;
					vertical-align:bottom;
					*display: inline;
					zoom: 1;
				}
			}
			.member {
				.member-image {
					img {
						width: 130px;
						margin: 0 auto;
					}
				}
			}
			iframe {
				margin: 0 !important;
			}
		}
	}
}

.entry-list {
	.entry-contents {
		.heading {
			h2 {
				font-size: $font-size-h3;
				padding-top: $line-height-base;
				a {
					text-decoration: none;
					color: $text-color;
					&:hover {
						color: $link-color;
					}
				}
			}
			.meta-info {
				min-height: $font-size-h3 * $headings-line-height;
				li {
					display: inline-block;
					font-size: $font-size-small;
					text-align: right;
					margin-bottom: $padding-xs-vertical;
				}
			}
		}
		.entry-body {
			.entry-text {
				padding: 0;
			}
		}
		margin-top: $line-height-computed;
		padding-bottom: $line-height-computed;
		border-bottom: 1px dotted $gray-dark;
	}
}

.pager {
	li {
		a {
			background-color: $brand-primary;
		}
	}
}

footer {
	padding: 20px 0;
	color: $gray-lighter;
	background-color: $gray-darker;
}
