<h2><i class="glyphicon glyphicon-tower"></i> 記事の編集</h2>
<a href="./draft/new" class="btn btn-success btn-lg" role="button" style="margin:1em 0;">下書きを追加</a>
<h3>下書き</h3>
<div class="list-group">
  <% @drafts.each do |d| %>
    <a href="./draft/<%= d.id %>" class="list-group-item"><%= d.title %></a>
  <% end %>
</div>
<h3>公開中の記事</h3>
<div class="list-group">
  <% @entries.each do |e| %>
    <a href="./entry/<%= e.id %>" class="list-group-item"><%= e.title %></a>
  <% end %>
</div>
