<div class="container"
  <div class="row">
    <div class="col-md-3" id="menu">
      <strong><i class="glyphicon glyphicon-list"></i> Menu</strong>
      <hr>
      <ul class="list-unstyled">
        <li><a href="/console"><i class="glyphicon glyphicon-home"></i> Home</a></li>
        <li><a href="/console/contest"><i class="glyphicon glyphicon-tower"></i> 大会情報</a></li>
        <li><a href="/console/entrant"><i class="glyphicon glyphicon-briefcase"></i> 作品情報</a></li>
      </ul>
    </div>

    <div class="col-md-9">
      <p>it works</p>
    </div>
  </div>
</div>
