<!DOCTYPE HTML>
<html lang='ja'>
<head>
  <meta charset="utf-8">
  <meta content='text/html' http-equiv='content-type'>
  <title>Proconist.net Console</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
  <link rel="stylesheet" href='/css/bootstrap.min.css'>
  <link rel="stylesheet" href='/css/console.css'>
</head>

<body>
  <div class='navbar navbar-inverse navbar-static-top' id='top-nav'>
    <div class='container'>
      <div class='navbar-header'>
        <button class='navbar-toggle' data-target='.navbar-collapse' data-toggle='collaps' type='button'>
          <span class='icon-toggle'></span>
        </button>
        <a class='navbar-brand'>Proconist.net Console</a>
      </div>
      <% if @op %>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/console/user-settings"><i class="glyphicon glyphicon-user"></i> <%= @op.name %></a>
            </li>
            <li>
              <a href="/sign_out"><i class="glyphicon glyphicon-lock"></i> Sign out</a>
            <li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3" id="menu">
        <strong><i class="glyphicon glyphicon-list"></i> Menu</strong>
        <hr>
        <ul class="list-unstyled">
          <li><a href="/console"><i class="glyphicon glyphicon-home"></i> Home</a></li>
          <li><a href="/console/contest"><i class="glyphicon glyphicon-tower"></i> 大会情報</a></li>
          <li><a href="/console/entrant"><i class="glyphicon glyphicon-briefcase"></i> 作品情報</a></li>
          <li><a href="/console/entry"><i class="glyphicon glyphicon-pencil"></i> 記事</a></li>
        </ul>
      </div>
      <div class="col-md-9">
        <%= yield %>
      </div>
    </div>
  </div>

  <script src='/jquery-2.1.1.min.js' type='text/javascript'></script>
  <script src='/js/bootstrap.min.js' type='text/javascript'></script>
</body>
</html>
