<!DOCTYPE HTML>
<html lang='ja'>
<head>
  <meta charset="utf-8">
  <meta content='text/html' http-equiv='content-type'>
  <title>Proconist.net Console</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
  <link rel="stylesheet" href='/css/bootstrap-umi.min.css'>
  <link rel="stylesheet" href='/css/console.css'>
</head>

<body>
  <div class='navbar navbar-inverse navbar-static-top' id='top-nav'>
    <div class='container'>
      <div class='navbar-header'>
        <button class='navbar-toggle' data-target='.navbar-collapse' data-toggle='collaps' type='button'>
          <span class='icon-toggle'></span>
        </button>
        <a class='navbar-brand'>Proconist.net Console</a>
      </div>
    </div>
  </div>

  <div class='container'>
    <div class='panel panel-primary' id='sign-in'>
      <div class='panel-heading'>
        <strong>Sign in</strong>
      </div>
      <div class='panel-body'>
        <% if params[:status] == 'error' %>
          <div class='alert alert-danger'>
            <strong>Error</strong> : IDとパスワードが正しいか確認してください
          </div>
        <% end %>
        <form action='./sign_in' method='post'>
          <div class='form-group'>
            <label for='id'>ID:</label>
            <input class='form-control' name='id' type='text' value=''>
          </div>
          <div class='form-group'>
            <label for='password'>Password:</label>
            <input class='form-control' name='password' type='password' value=''>
          </div>
          <button class='btn btn-default' type='submit' value='sign in'>Sign in</button>
        </form>
      </div>
    </div>
  </div>

  <script src='/js/jquery-2.1.1.min.js' type='text/javascript'></script>
  <script src='/js/bootstrap.min.js' type='text/javascript'></script>
</body>
</html>
